@import '~bootstrap/scss/bootstrap';

$background-color: #d8cfcf;
$overlay-color: rgba(220, 244, 244, 0.6);

body {
  background-color: $background-color;
  font-family: 'Vollkorn', serif;
}

#backgroundVideo {
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  right: 0;
}

#to-start {
  background: $overlay-color;
  bottom: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.forms {
  font-family: 'Vollkorn', serif;
  padding: 0.5em;
}

.input-group {
  position: relative;
}

.glyphicon {
  padding: 10px;
  position: absolute;
}

h5 {
  clear: both;
  font-family: 'Vollkorn', serif;
  justify-content: center;
  text-align: center;
}

.dropup:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-changepassword {
  display: block;
}

.time-availability {
  align-content: center;
  clear: both;
  display: flex;
}

#time {
  align-content: center;
  display: flex;
  justify-content: center;
}

.btn-info {
  align-content: center;
  display: flex;
  margin: 1em;
}

#workout-video {
  align-self: center;
  display: flex;
  margin: auto;
}

#navbar {
  display: none;
}
// #authedView {
//   display: none;
// }
//
// #unAuthedView {
//   display: block;
// }
