@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600');

$background-color: #ffffff;
// #d8cfcf;
$font-color: #4e5a6a;
$overlay-color: rgba(220, 244, 244, 0.3);

body {
  background-attachment: fixed;
  background-color: $background-color;
  background-image: url('https://ih1.redbubble.net/image.360595717.0414/flat,550x550,075,f.u6.jpg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#authedView {
  display: none;
}

.video-container {
  #bgVideo {
    bottom: 0;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
  }
}

#sign-in {
  display: none;
}

.to-start {
  align-items: center;
  bottom: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 50%;
  width: 100vw;
}

.form-container {
  background-color: $overlay-color;
  border-style: double;
  padding: 30px;
}

.btn-secondary {
  align-self: center;
  background-color: $overlay-color;
  color: $font-color;
  display: flex;
  font-family: 'Vollkorn', serif;
  justify-content: center;
  margin: 0.3em;
  padding: 0.3em;
}

.forms {
  font-family: 'Vollkorn', serif;
  margin: 1em;

  .form-control {
    background-color: $overlay-color;
    margin: 0.3em;
  }
}

h4,
h6,
li {
  color: $font-color;
  font-family: 'Vollkorn', serif;
  padding-right: 0.5em;
}

h5,
p {
  clear: both;
  color: $font-color;
  font-family: 'Vollkorn', serif;
  justify-content: center;
  text-align: center;
}

.dropup-toggle {
  background-color: $overlay-color;
}

.dropdown {
  background-color: $overlay-color;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: $overlay-color;
}

#select-fitness {
  background-color: $overlay-color;
  color: $font-color;
  font-family: 'Vollkorn', serif;
}

.time-availability {
  align-content: center;
  clear: both;
  display: flex;
}

#time {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.btn-info {
  align-content: center;
  display: flex;
  margin: 1em;
}

#new-invitation {
  display: inline-block;
  margin: auto;
}

#sign-out {
  background-color: $overlay-color;
}

#workout-video {
  align-self: center;
  display: flex;
  margin: auto;
}

#navbar {
  color: $font-color;
  font-family: 'Vollkorn', serif;
}

#authedView {
  display: none;
}

#unAuthedView {
  display: block;
}

#startWorkout {
  display: none;
}
