@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600');

$background-color: #d8cfcf;
$font-color: #6c7d93;
$overlay-color: rgba(220, 244, 244, 0.6);

body {
  background-color: $background-color;
  // background-attachment: fixed;
  // background-image: url('backgroundVideo.gif');
  // background-repeat: no-repeat;
  // background-size: 100%;
  // font-family: 'Vollkorn', serif;
  // height: 100%;
  // width: 100%;
}

#authedView {
  display: none;
}

.video-container {
  #bgVideo {
    bottom: 0;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
  }
}

#to-start {
  background: $overlay-color;
  bottom: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.forms {
  font-family: 'Vollkorn', serif;
  padding: 0.5em;
}

.input-group {
  position: relative;
}

h4,
h6,
li {
  color: $font-color;
  font-family: 'Vollkorn', serif;
  padding-right: 0.5em;
}

h5,
p {
  clear: both;
  color: $font-color;
  font-family: 'Vollkorn', serif;
  justify-content: center;
  text-align: center;
}

.dropup:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.time-availability {
  align-content: center;
  clear: both;
  display: flex;
}

#time {
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-info {
  align-content: center;
  display: flex;
  margin: 1em;
}

#workout-video {
  align-self: center;
  display: flex;
  margin: auto;
}

#navbar {
  color: $font-color;
  font-family: 'Vollkorn', serif;
}

#authedView {
  display: none;
}

#unAuthedView {
  display: block;
}

#startWorkout {
  display: none;
}
